.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav-links a {
    color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00d4ff;
  cursor: pointer;
}