footer {
  border-top: 1px solid #e5e7eb;
  color: black;
  text-align: center;
  padding: 1rem 0;
  font-size: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

@media (min-width: 640px) {
  .header-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .header-title {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .header-title {
    font-size: 1.5rem;
  }
}